body {
  margin: 0;
  padding: 0;
  font-family: Mushrooms;
  background: radial-gradient(circle, #d9b800, #ff8fe1);
  color: rgb(13, 194, 211);
  text-align: center;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
}

h1 {
  font-size: 3.7rem;
  background: linear-gradient(
    120deg,
    #ff2454,
    #00f2ff,
    #29ff3b,
    #00ffff
  );
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shimmer 3s ease-in-out infinite;
}

@keyframes shimmer {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h2 {
  color: #380c4c;
   font-family: 'Pixel';
}

p {
font-family: 'Pony';
color: black;
max-width: 400px;
text-align: center;
}

img {
  width: 400px;
  height: auto;
  border: 5px solid rgb(24, 8, 103);
  border-radius: 15px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
  margin: 20px 0;
}

@font-face {
  font-family: 'Mushrooms';
  src: url('SuperBread-ywdRV.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pony';
  src: url('EquestriaNeue.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pixel';
  src: url('fontstuck.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.container {
  padding: 20px;
  border-radius: 20px;
  background: radial-gradient(circle, #ff8fe1, #ffd903);
  width: 300px;
  text-align: center;
  margin: 20px auto; 
  border: #380c4c 3px solid;
}

